#cloud-config

# Write the join token
write_files:
  - path: /etc/k0s.token
    permissions: '0644'
    content: |
      ${JOIN_TOKEN}

# Setup k0s worker using the token
runcmd:
  - curl -sSfL get.k0s.sh | sh
  - k0s install worker --token-file /etc/k0s.token
  - k0s start