apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
  - ssh:
      address: ${CONTROLLER_IP}
      user: k0suser
      port: 22
    role: controller
    uploadBinary: true
    k0sBinaryPath: ../file-server/files/bins/k0s-v1.28.6+k0s.1-arm64
#    k0sBinaryPath: ./k0s-v1.29.1+k0s.1-arm64
  - ssh:
      address: ${WORKER1_IP}
      user: k0suser
      port: 22
    role: worker
    uploadBinary: true
    k0sBinaryPath: ../file-server/files/bins/k0s-v1.28.6+k0s.1-arm64
    files:
      - name: image-bundle
        src: http://${FILE_SERVER_IP}/files/images/k0s-airgap-bundle-v1.28.6+k0s.1-arm64
        dstDir: /var/lib/k0s/images/
        perm: 0600
#    k0sBinaryPath: ./k0s-v1.29.1+k0s.1-arm64
  - ssh:
      address: ${WORKER2_IP}
      user: k0suser
      port: 22
    role: worker
    uploadBinary: true
    k0sBinaryPath: ../file-server/files/bins/k0s-v1.28.6+k0s.1-arm64
    files:
      - name: image-bundle
        src: http://${FILE_SERVER_IP}/files/images/k0s-airgap-bundle-v1.28.6+k0s.1-arm64
        dstDir: /var/lib/k0s/images/
        perm: 0600
#    k0sBinaryPath: ./k0s-v1.29.1+k0s.1-arm64
  k0s:
    version: v1.28.6+k0s.1
#    version: v1.29.1+k0s.1
    config: {}
